<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/style.css" type='text/css'>
		<title>Home - TrackApp</title>
	</head>
	<body>
		<div class="toolbar">
				<div class="addField">
					<input type="text" name="trackCode">
					<input type="text" name="partId">
				</div>
		</div>
	</body>
</html>
